@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {

    --color-primary-50: #fcfcfc;
    --color-primary-100: #f1f1f2;
    --color-primary-200: #e0e0e2;
    --color-primary-300: #c7c7cc;
    --color-primary-400: #a8a8af;
    --color-primary-500: #82828b;
    --color-primary-600: #57575f;
    --color-primary-700: #27272a;
    --color-primary-800: #111113;
    --color-primary-900: #040405;
    --color-primary-950: #000000;

    --color-secondary-50: #fefdfb;
    --color-secondary-100: #fef9e7;
    --color-secondary-200: #fef3c7;
    --color-secondary-300: #fde68a;
    --color-secondary-400: #fcd34d;
    --color-secondary-450: #FFBB00;
    --color-secondary-500: #fbbf24;
    --color-secondary-600: #f59e0b;
    --color-secondary-700: #d97706;
    --color-secondary-800: #92400e;
    --color-secondary-900: #78350f;
    --color-secondary-950: #451a03;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


[data-amplify-authenticator] [data-amplify-container] {
    border-radius: var(--radius);
    @apply w-full p-10 flex flex-col;
    border: 1px solid hsl(var(--border));
}

/* Sign up form fields */
[data-amplify-authenticator] fieldset.amplify-flex {
    @apply w-full max-w-sm;
}

/* Amplify Sign In Form */
[data-amplify-authenticator] div.amplify-flex {
    @apply w-full max-w-sm;
}

/* Amplify Form Labels*/
[data-amplify-authenticator] label.amplify-label {
    @apply text-sm font-medium;
}

[data-amplify-authenticator] [data-amplify-form] {
    @apply flex justify-center
}

[data-amplify-authenticator] [data-variation] {
    @apply w-full  flex justify-center;
}


[data-amplify-authenticator] .amplify-fieldset__legend {
    @apply text-sm font-medium mt-4;
}

[data-amplify-authenticator] .amplify-radiogroupfield {
    @apply mt-1 flex flex-col gap-y-1;
}

/* Amplify Sing Up Form: Hide Legend Label */
[data-amplify-authenticator] legend.amplify-visually-hidden {
    @apply hidden;
}

/* Amplify Sign Up Form: Gap Between Roles */
[data-amplify-authenticator] div.flex.flex-col.text-sm.items-start {
    @apply gap-y-1;
}

/* Amplify Sign Up Form:  */
[data-amplify-authenticator] span.amplify-visually-hidden {
    @apply hidden
}

[data-amplify-authenticator] div.amplify-field-group--horizontal {
    @apply flex items-center justify-stretch border rounded-sm p-0 w-full;
}

[data-amplify-authenticator] .amplify-textfield {
    @apply mt-4 flex flex-col gap-y-2;
}

/* Cognito Input Field */
[data-amplify-authenticator]  input.amplify-field-group__control {
    /*padding: 1rem !important;*/
    @apply p-2 w-full ;
    @apply rounded-sm text-sm;
}

[data-amplify-authenticator] .amplify-field-group__outer-end {
    @apply h-full w-full px-2 flex flex-1;
}

[data-amplify-authenticator] .amplify-field-group__field-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    @apply w-full flex items-stretch justify-stretch h-full;
}

[data-amplify-authenticator] .amplify-tabs__list {
    display: none;
}

[data-amplify-authenticator] .amplify-button--primary {
    height: 2.75rem;
    margin-top: 1rem;
    /*background-color: hsl(var(--primary)) !important;*/
    @apply bg-secondary-400;
    color: hsl(var(--primary-foreground)) !important;
    @apply font-medium;
    @apply w-full  text-sm rounded;
}

[data-amplify-authenticator] .amplify-button--primary:hover {
    background-color: hsl(var(--primary) / 0.8) !important;
}

[data-amplify-authenticator] p.text-muted-foreground {
    @apply text-sm
}

